<div>
  <h1>Congratulations!</h1>
  <div id="emoji-finish" class="success-emoji"></div>
  <p>Great job completing your haiku about {{theme.theme}}.<br/>Would you like to exercise your creativity and make another poem?<p>
  <p><img class="finish-restart-img" id="finish-restart-img" src="/images/previous/previous_32.png" alt="Restart"></p>
</div>