<aside>
  <h2>What is haiku?</h2>
  <p class="haiku-info">Haiku is a form of Japanese poetry form which uses just a few words to capture a 
    moment and create a picture and feeling for the person reading it. </p>

  <p class="haiku-info">Haiku is written in three lines, with five syllables in the first line, 
    seven syllables in the second line, and five syllables in the third line.</p>

  <p class="haiku-info">Haiku poems typically focus on nature, but they can be about anything you want.
    <br/><strong>Be creative!</strong>
  </p>

  <p class="haiku-info">
    <cite>More information at <a href="http://www.creative-writing-now.com/" target="_blank">www.creative-writing-now.com/</a></cite>
  </p>
</aside>