@import 'toolkit/reset';
@import 'ibm-colors';

$grid: 1;
$column: 60px;
$gutter: 20px;
$base-font: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', HelvLightIBM, Arial, sans-serif;
$button-border-color: lighten(color('blue'), 20%);

$default-color: rgb(0, 0, 0);
$opaque: rgba(0, 0, 0, .4);

$spans: (
  'header': (
    'small': 1,
  ),
  'main': (
    'small': 1,
  ),
  'footer': (
    'small': 1,
  )
);

@function span($span) {
  @return ($span * $column) + (($span - 1) * $gutter);
}

@function rwd($target, $context) {
  @return $target / $context * 100%;
}

@each $class, $span in $spans {
  .#{$class} {
    $amount: span(map-get($span, 'small'));
    text-align: center;
    width: rwd($amount, span($grid));
  }
}

.theme {
  font-size: 32px;
  overflow-wrap: break-word;
  padding: 10vh;
}

.magnet {
  background-color: color('warm-white');
  box-shadow: 2px 2px 2px color('black');
}

.word-button {
  background-color: color('warm-white');
  border: 0;
  box-shadow: 2px 2px 2px color('black');
  overflow: hidden;
}

.table-style {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.footer {
  bottom: 0;
  padding-bottom: 2%;
  position: fixed;
}

.footer-icon {
  width: 65px;
}

.right-footer {
  margin-left: 40%;
  padding-right: 2%;
  text-align: right;
}

.left-footer {
  float: left;
  padding-left: 2%;
  text-align: left;
  width: 60%;
}

.info-popup {
  background-color: $opaque;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.info-content {
  background-color: color('cool-white');
  border: 1px solid color('black');
  margin: auto;
  padding: 20px;
  width: 80%;
}

.close-icon {
  float: right;
  width: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 8px;
  margin: 0 auto;
}

//////////////////////////////////
// Poem styling
//////////////////////////////////
.poemline {
  background: transparent;
  border: 0;
  border-bottom: 1px solid color('warm-gray', 20);
  font-family: Courier New, Courier, monospace;
  font-size: 1em;
  font-weight: bold;
  line-height: 2.5em;
  margin: auto;
  min-height: 2.5em;
  min-width: 250px;
  outline: 0;
  padding: 2px 10px;
  text-decoration-line: underline 1px;
  width: 75%;

  &:focus {
    background: color('warm-gray', 10);
    border-radius: 2px;
    outline: none;
  }

}

.syllable {
  float: right;
  font-family: $base-font;
  font-weight: bold;
}

legend {
  height: 1px;
  overflow: hidden;
  width: 1px;
}

aside {
  p {
    &.haiku-info {
      padding-top: 15px;
    }
  }
}

.bg-img {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

body {
  background: color('neutral-white', 40);
  font-family: $base-font;
}

html {
  background-size: cover;
}
