<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Haiku IQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body id="body">
  <div id='body-container'>
    {{{body}}}
  </div>

  <script src="/js/app.js"></script>
  <script type="text/javascript">
    var currentThemeName = "{{theme.theme}}";
    var currentThemePhotoURL = "{{theme.photoURL}}";

    document.body.style.overflow = "hidden";

    var bodyContainer = document.getElementById('body-container');
    bodyContainer.style.background = "rgba(255, 255, 255, 0.5)";

    function setBodyContainerSize(h, w) {
      bodyContainer.style.height = h + "px";
      bodyContainer.style.width = w + "px";
    };

    function getViewportSize() {
      // Get the viewport dimensions
      var vHeight, vWidth;
      if (document.compatMode === 'BackCompat') {
        vHeight = document.body.clientHeight;
        vWidth = document.body.clientWidth;
      } else {
          vHeight = document.documentElement.clientHeight;
          vWidth = document.documentElement.clientWidth;
      }

      return { vHeight: vHeight, vWidth: vWidth };
    };

    window.addEventListener("load", function(event) {

      // Create a background Image
      var bgImg = document.createElement('img');
      bgImg.alt = "background image";
      bgImg.className = "bg-img";

      var vSize = getViewportSize();
      setBodyContainerSize(vSize.vHeight, vSize.vWidth);
      
      // set background image for body
      var themePhoto = currentThemePhotoURL + "/800x600";
      bgImg.src = themePhoto;

      document.body.insertBefore(bgImg, document.body.firstChild);

    });


    window.addEventListener("resize", function(event) {
      var vSize = getViewportSize();
      setBodyContainerSize(vSize.vHeight, vSize.vWidth);


    });
  </script>
</body>
</html>
