<header class='header'>
  <h1 id='theme'>{{theme}}</h1>
</header>
<main class='main'>
  <ul id='poem'>
    <li id='line1' class='five-syl'>Line1</li>
    <li id='line2' class='seven-syl'>Line2</li>
    <li id='line3' class='five-syl'>Line3</li>
  </ul>
</main>
<footer class='footer'>
  <input type='image' src='/images/catalog/catalog_32.svg' name='Dictionary' class='footer-icon' id='dictionary'/>
  <input type='image' src='/images/reset/reset_32.svg' name='Undo' class='footer-icon' id='undo'/>
  <input type='image' src='/images/get-information/get-information_32.svg' name='Info' class='footer-icon' id='info'/>
</footer>
