<header class='header'>
  <h1 class='theme'>{{theme.theme}}</h1>
</header>
<main class='main'>
  <fieldset>
    <legend>Haiku poem lines</legend>


  <ul id='poem'>
    <li id='line1' class='five-syl'>
      <label for="poemLine1"></label>
      <input type="text" id="poemLine1" class="poemline" placeholder="five syllables start" name="poemLine1" disabled="true"></input>
      <text id='syl1' class='syllable'>0</text>
    </li>
    <li id='line2' class='seven-syl'>
      <label for="poemLine2"></label>
      <input type="text" id="poemLine2" class="poemline" placeholder="then seven more.  On a roll" name="poemLine2" disabled="true"></input>
      <text id='syl2' class='syllable'>0</text>
    </li>
    <li id='line3' class='five-syl'>
      <label for="poemLine3"></label>
      <input type="text" id="poemLine3" class="poemline" placeholder="with five to finish" name="poemLine3" disabled="true"></input>
      <text id='syl3' class='syllable'>0</text>
    </li>
  </ul>
  </fieldset>
  <div class="table-style"><table id="word-table"></table></div>
</main>
<footer class='footer'>
  <div class='left-footer'>
    <input type='image' src='/images/catalog/catalog_32.svg' name='Dictionary' class='footer-icon' id='dictionary'/>
    <input type='image' src='/images/reset/reset_32.svg' name='Undo' class='footer-icon' id='undo'/>
  </div>
  <div class='right-footer'>
    <input type='image' src='/images/get-information/get-information_32.svg' name='Info' class='footer-icon' id='info'/>
  </div>
</footer>
<div class='info-popup' id='info-popup'>
  <div class='info-content'>
    <input type='image' src='/images/close/close_32.svg' name='CloseInfo' class='close-icon' id='close'/>
    {{> haikuInfo}}
  </div>
</div>
